@import "../variables";
.headerText {
  font-size: $size_400;
  color: $blue_200;
}

.subHeaderText {
  font-size: $size_200;
  color: $blue_200;
}

.form-label {
  font-size: 12px;
  color: $gray_200;
}

.form-control {
  padding: 12px 16px !important;
}

::placeholder {
  color: $gray_100 !important;
}

.input-field {
  position: relative !important;
}

.icon-input-field {
  position: absolute;
  top: 13px;
  left: 13px;
  cursor: pointer;
}

.error-text {
  font-size: $size_100;
  color: $red_500;
}

.forget-password {
  color: $blue-100;
  font-size: $size_100;
}
.form-check-input {
  margin: 0px !important;
}
.form-check-label {
  font-size: $size_100;
  margin: 0 10px;
}
.create-account {
  font-size: $size_200;
  color: $blue_200 !important;

  span > a {
    text-decoration: underline !important;
    color: $blue_100;
  }
}

.button-submit {
  background: $blue_100;
  width: 72px;
  height: 39px;
  border-radius: 20px;
  border: none;
  color: $white;
  font-size: $size_200;
}
.bgLogo {
  background-image: url("../../assets/images/login.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
