@import "./variables";
@import "./authStyle/auth.scss";
@import "./sidebar/sidebar.scss";
@import "./dashboard/dashboard.scss";
@import "./modal/editModal.scss";

html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  font-family: IRANSans !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: IRANSansBold, sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
      format("woff"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    url("../assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
      format("truetype");
  font-stretch: 1% 500%;
}

.App {
  overflow: hidden;
}
