// => Colors
$blue_200: #364163;
$blue_100: #2343a3;
$gray_200: #667494;
$gray_100: #a3adc0;
$red_500: red;
$borderInput: #c6cdda;
$white: #ffffff;

// => Size

$size_100: 12px;
$size_200: 14px;
$size_400: 40px;
