@import "../variables";

.sidebar {
  width: 260px !important;
  border-left: 1px solid $borderInput;
  transition: 0.5s all ease-in-out;
  transform: translateX(0px);
}
.sidebar.active {
  width: 60px !important;
  transform: translateX(0px);
  border-left: 1px solid $borderInput;
}

.sidebar-header {
  border-bottom: 1px solid $borderInput;
  height: 60px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem !important;
}
.menu-list-item {
  // margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.4s all ease-in-out;
  outline: none;

  &:hover {
    transform: translateX(5px);
  }
}
.menu-list-item.active {
  background-color: $blue_50;
}

.menu-list-item-link {
  color: $gray_200;
  font-size: $size_200;
  display: flex;
  align-items: center;
  outline: none;

  &:hover {
    color: $gray_200;
  }
}
.menu-list-item-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
